<h1 align = "center" style="font-weight:bold"> Listing all articles</h1>
<div class="center">
  <%= will_paginate %>
</div>
<%= render 'article', obj: @articles %>

<div class="center">
  <%= will_paginate%>
</div>
