<head>

</head>

<body>

  <h1 style="text-align:center"> This sucks </h1>

<pre style="font-size: 30px; font-family:courier">
  This is going to be a <em>minimalist</em>,
  it is going to test the <mark style="color:blue; background-color:red;">Basic</mark>
  Html stuff I learnt.
</pre>

<%= link_to 'about',about_path%>

</body
