<div class="container">
  <footer class="footer">
    <small>
      Copyright: &copy; <a href="http://www.weavee.co.uk"> Learning ruby like a boss</a> <body>
      by <span>John Adetutu</span>
      </body>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'about', about_path%></li>
      </ul>
    </nav>
  </footer>

</div>
